#contact {
    background-image: url("../../assets/bannerBg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100% !important;
    height: auto !important;
}

#contactDiv {
    /* contactBox */
    /* background-image: url("../../assets/contactBox.png"); */
    background-color: #feb414 !important;
    color: #000 !important;
    position: relative;
    top: 10rem;
}
.contactBtn{
    margin-top: 1rem !important;
}


#contactInput {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    /* border: red !important; */
}


@media only screen and (max-width: 750px) {
    .textBox {
        margin-top: 0 !important;
    }
    #bookLaunch{
        display: none !important;
    }
}
@media only screen and (max-width: 550px) {
    #contactDiv{
        width: 95% !important;
    }
    #contact2{
        width: 100% !important;
    }
    .contactBtn{
        padding: 0rem !important;
        margin: 0rem !important;
    }
}

