#services {
    background-image: url("../../assets/ourServices.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100% !important;
    height: auto !important;
}

#testimonial1 {
    width: 95%;
}


.nav-link {
    color: white !important;
}

.nav-tabs {

    --bs-nav-tabs-border-width: 0px !important;
    --bs-nav-tabs-link-active-bg: #feb414 !important;
    border-radius: 2rem !important;

    --bs-nav-tabs-border-radius: 0.5rem !important;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
    width: 90% !important;
}

@media (max-width: 1200px) and (min-width: 998px) {
    #testimonial1 {
        padding-right: 1rem;
        width: 150% !important;
        margin-right: 20rem !important;
    }

    #servicePara {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    #testimonial1Box {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 600px) {
    #serviceBox {
        width: auto !important;
    }

    #servicesBoxTwo {
        width: 100% !important;
    }

    #servicesBoxThree {
        width: 100% !important;
        margin-left: 1rem !important;
    }

    #serviceBtnBox {
        margin-left: 2rem !important;
    }

    #servicesImg {
        margin: 0 !important;
        margin-left: 2rem !important;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 540px) {
    #ServiceCallNowBtn{
        margin-top: 2rem !important;
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    #serviceBtnBox{
        margin-left: 0 !important; 
        margin-right: 0 !important; 
        padding-left: 0 !important;
        padding-right: 0 !important; 
    }
    #servicesBoxThree {
        width: 105% !important;
        margin-left: 0rem !important;
    }
}
@media only screen and (max-width: 415px) {
    #lc{
        margin-top: 1rem !important;
        width: 57% !important;
        margin-left: 1rem !important;
    }
}
@media only screen and (max-width: 370px) {
    #lc{
        margin-top: 1rem !important;
        width: 57% !important;
        margin-left: 2rem !important;
    }
}