


@media only screen and (max-width: 1200px) {
    #startProjectContent {
        margin-left: 4rem !important;
        margin-top: 1rem !important;
    }
    #bookImg{
        width: 95% !important;
        margin-left: 2rem !important;
    }

}

@media only screen and (max-width: 600px) {
    #bookImg{
        width: 100% !important;
        margin-left: 0.5rem !important;
    }
    #startProjectContent{
        margin-left: 0.5rem !important;
    }
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
}