h2 {
  color: white;
  text-align: center;
}

.mainContainer {
  margin: 10px;

  width: 100%;
  height: 7rem;
}

.mainContainer .container {
  padding: 40px 0;
}

.mainContainer .container img {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}

div h3 {
  color: white;
  font-weight: bold;
}

/* .sliderIcon{
  width: 15% !important;
} */

@media only screen and (max-width: 776px) {
  .sliderIcon{
    width: 200px !important;
  }
}
@media only screen and (max-width: 702px) {
  .sliderIcon{
    width: 120px !important;
  }
}
@media only screen and (max-width: 520px) {
  .sliderIcon{
    width: 80px !important;
  }
}
@media only screen and (max-width: 400px) {
  .sliderIcon{
    width: 60px !important;
  }
}