#realscreen{
    background: rgba(0,0,0,0.7);
}

#realscreenBook {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#realscreenBookPara {
    margin-top: 3rem !important;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 0.4px;
}
#events{
    border-bottom: 1px solid #efefef;
    color: white;
    margin: 40px auto 10px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.3px;
}

@media only screen and (max-width: 580px){
	#realscreenBookPara{
       text-align: left !important;
       font-size: 18px !important;
    }
    #mediaQuery2{
        padding-right: 0.1rem !important;
        padding-left: 0.5rem !important;
    }
    #realscreenBook{
        width: 70% !important;
        padding-top: 0 !important;
    }
    #realscreenBookPara{
        padding: 0 !important;
    }
    #mediaQuery3{
        padding: 0 !important;
    }
}