#wrapper{
    padding-top: 15% !important;
}
#img{
    width: 50%;
    height: auto;
}
.para{
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-weight: 400 !important;
    letter-spacing: 0.8px !important;
}

@media only screen and (max-width: 940px){
	#bannerHeading{
        padding-left: 1rem !important;
        padding-right: 0 !important;
    }
}
@media only screen and (max-width: 840px){
	#bannerHeading{
        padding-left: 1rem !important;
        padding-right: 0 !important;
    }
    #bannerHeadingTwo{
        font-size: 22px !important;
    }
    #bannerHeading{
        width: 100% !important;
    }
}
@media only screen and (max-width: 740px){
    #brand{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    #img{
        width: 70% !important;
    }
	#bannerHeadingTwo{
        padding-left: 0rem !important;
        padding-right: 0 !important;
        font-size: 21px !important;
    }
	#bannerHeadingThree{
        padding-left: 0rem !important;
        padding-right: 0 !important;
        font-size: 22px !important;
    }

}
@media only screen and (max-width: 540px){

	#bannerHeadingTwo{
        font-size: 19px !important;
    }
	#bannerHeadingThree{
        font-size: 20px !important;
    }

}